fastapi
uvicorn[standard]

# Database

sqlalchemy
pymysql
alembic

# Authentication

python-jose
passlib[bcrypt]

# Environment variables

python-dotenv

# Web scraping

requests
httpx
aiohttp
beautifulsoup4
lxml

# File handling (PDF/DOCX/TXT)

pypdf
python-docx

# Data processing

tqdm

# Embeddings & Vector DB

faiss-cpu
numpy

# LLM / Ollama

ollama

# transformer

sentence-transformers

# File uploads / forms

python-multipart

pydantic[email]

bcrypt==3.2.2